body {
	font-family: Arial, sans-serif;
	font-size: 10px;
	height: 100%;
	width: 100%;
}
@media screen and (max-width: 1024px)  {
	img.bg {

	}
}

div#wrapper {
 width: 100%;
 display: inline-block;
}

div#wrapper:after {
    padding-top: 55%;
    display: block;
    content: '';
}

.doors {
	position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
}

img.bg {
min-height:100%;
min-width:800px;
width:100%;
height:auto;
position:fixed;
top:0;
left:0;
}

a img {
	border: none;
}

.door {
position:absolute;
border: 1px solid #FFF;
border-left: 1px dashed #FFF;
border-radius:3px;
z-index:10;
cursor:pointer;
color:#FFF;
font-family:Arial;
font-size:11px;
text-transform:uppercase;
font-weight:400;
overflow:hidden;
background: url('http://zooniverse-resources.s3.amazonaws.com/advent/trans.gif');
}

.door span {
float:right;
position: relative;
margin:5px;
z-index: 100;
}

.door:hover {
border:2px solid #FFF;
margin:-1px 0 0 -1px;
}

.door_image {
width:100%;
height: 100%;
position:absolute;
left:-100%;
background-color: #FFF;
}

.door_image_open {
width:100%;
height: 100%;
position:absolute;
background-color: #FFF;
}

.door_image img, .door_image_open img {
	position: relative;
	max-width: 100%;
	min-height: 100%;
}

.door_image img.q {
	display: block;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	margin-left: -25px;
	min-height: 50px;
}

.day_wrapper h2 {
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0;
}

.day_wrapper p {
	margin: 0;
	padding: 0;
	text-align: justify;
}

#light-image {
	height: 220px;
	overflow: hidden;
}

#light-image img {
	width: 100%;
}

#d4 { top:52%; left:4%; height:22%; width:18%; }
#d17 { top:79%; left:5%; height:13%; width:12%; }
#d15 { top:25%; left:45%; height:12%; width:14%; }
#d1 { top:27%; left:23%; height:18%; width:18%; }

#d5 { top:81%; left:38%; height:13%; width:14%; }
#d6 { top:3%; left:34%; height:19%; width:10%; }
#d7 { top:75%; left:78%; height:20%; width:18%; }
#d8 { top:5%; left:18%; height:16%; width:13%; }

#d9 { top:78%; left:58%; height:17%; width:16%; }
#d10 { top:61%; left:72%; height:11%; width:11%; }
#d16 { top:3%; left:76%;  height:28%; width:21%; }
#d12 { top:63%; left:43%; height:14%; width:12%; }

#d13 { top:48%; left:25%; height:25%; width:16%; }
#d14 { top:35%; left:65%; height:23%; width:18%; }
#d3 { top:63%; left:58%; height:11%; width:10%; }
#d11 { top:2%; left:2%; height:12%; width:12%; }

#d2 { top:5%; left:62%; height:24%; width:11%; }
#d18 { top:30%; left:3%; height:18%; width:17%; }
#d19 { top:78%; left:20%; height:17%; width:14%; }
#d20 { top:36%; left:86%; height:16%; width:11%; }

#d21 { top:55%; left:87%; height:15%; width:11%; }
#d22 { top:17%; left:4%; height:10%; width:11%; }
#d23 { top:4%; left:47%; height:17%; width:12%; }
#d24 { top:40%; left:44%; height:20%; width:18%; }

#footer {
	position: absolute;
	right: 5px;
	bottom: 0px;
	font-size: 9px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.credit {
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: 9px;
	text-transform: uppercase;
	color: #FFF;
}

.credit a {
	text-decoration: none;
	color: #FFF;
}

.credit a:hover {
	text-decoration: underline;
}
