---
title: Home
---

<%
      time = Time.new(2015, 12, 19)
      @current_month = time.month
      @current_day = time.day
      @current_hour = time.hour

%>

<img class="bg" src="http://zooniverse-resources.s3.amazonaws.com/advent/penguin.jpg" alt="">
<p class="credit">Background Image: <a href="http://talk.penguinwatch.org/#/subjects/APZ0001e60">Penguin Watch</a></p>
<div id="wrapper">
  <div class="doors">
  <% (1..24).each do |num| %>
  <div id="d<%= num.to_s %>" class="door">
    <span><%= num.to_s %></span>
      <% if num > @current_day || @current_month < 12 %>
      <div class='door_image'>
        <img src="q.png" class="q">
      </div>
      <% elsif num == @current_day && @current_month == 12 %>
      <div class='door_image'>
        <a href="/days/<%= num.to_s %>/?foo=1" class="thickbox" title="Day <%= num.to_s %>">
         <img src="http://zooniverse-resources.s3.amazonaws.com/advent/<%= num %>.jpg">
        </a>
        </div>
      <% else %>
      <div class='door_image_open'>
        <a href="/days/<%= num.to_s %>/?foo=1" class="thickbox" title="Day <%= num.to_s %>">
        <div class="mask">
          <img src="http://zooniverse-resources.s3.amazonaws.com/advent/<%= num %>.jpg">
        </div>
        </a>
        </div>
      <% end %>
  </div>
  <% end %>
  </div>
</div>
<div id="footer"><a href="https://zooniverse.org"><img src="http://zooniverse-resources.s3.amazonaws.com/advent/zooniverse-wordmark-web-white.png" width="150"></a></div>

